<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <fieldset>
            <legend>Registration form</legend>

            Name: <br/><input type="text" th:field="*{name}" /><br/><br/>
            Password: <br/><input type="password" th:field="*{password}" /><br/><br/>

            <input type="submit" value="Submit"/>
        </fieldset>
    </form>
</body>
</html>